doctype html 
html
    //- for pug, indentation  is extremely importatn because there is no closing or opening tags, the indents are the only thing that determines the hierarchical structure (element nested inside)
    head
        meta(charset="uft-8")
        title #{title} | Test Website
        link(rel="stylesheet", href="/styles.css")
    body
        //- header#header-container is the shortcut for header (id='header-container')
        header#header-container
            //-div.header-content is the shortcut for div(class='header-content')
            div.header-content
                h2#site-name
                    a(href="/") Test Website
                main#main-content
                    //-specify a dynamic block named layout-content
                    block layout-content 
                footer#footer-content
                    p &copy; Copyright HTTP5222, 2024.
